:root[data-theme="dark"] {
  --background-float: #12142B;
  --background-dip: #000000;
  --background-default: #0A0D10;
  --foreground-contrast: #F3F6FD;
  --foreground-dim: #3C3EAF;
  --foreground-emphasized: #8A8AFF;
  --foreground-primary: #FF55FF;
  --foreground-primary-dim: #AD00AD;
  --foreground-match-background: #0A0D10;
  --foreground-primary-fade: linear-gradient(0deg, $colors.pink.800 0%, $colors.pink.400 100);
  --foreground-white: #ffffff;
  --border-hint: #30348A;
  --border-focus: #8A8AFF;
  --border-contrast: #EBEEFE;
  --lg: 0 0 64px 0 #00000099;
  --fill-default: #EBEEFE;
  --fill-light: #8A8AFF;
  --fill-primary: #5555FF;
  --fill-ghost: #8A8AFF;
  --fill-ghost-hover: #22245C;
  --fill-separator: #30348A;
}