:root[data-theme="dark"] {
  --color-background-default: #060809; /* Use on full screen background.*/
  --color-background-float: #1E1F25; /* A shade lighter than the default background for elements that float above the default background, eg. modals, popovers.*/
  --color-background-dip: #000000; /* A shade darker than the default background for elements that are below the default background, eg. read only card, info section.*/
  --color-foreground-contrast: #F9F9FB; /* For text and icons on full screen background eg. body text, icons, button text.*/
  --color-foreground-dim: #9B9BB1; /* For deemphasized text and icons on full screen background eg. time stamps.*/
  --color-foreground-emphasized: #7070FF; /* For emphasized text and icons on full screen background eg. links, ids.*/
  --color-foreground-emphasized-hover: #8585FF; /* A shade lighter than emphasized for hovering interactive text and icons eg. links, ids.*/
  --color-foreground-match-background: #060809; /* To use on backgrounds contrasting the default background eg. button text on a blue button.*/
  --color-foreground-white: #ffffff; /* Plain white for going as bright as you can.*/
  --color-foreground-black: #000000; /* Plain black, for going as dark as you can.*/
  --color-foreground-primary: #FF55FF; /* To use for the most important action on the page eg. CTA link*/
  --color-foreground-primary-hover: #FF8FFF; 
  --color-foreground-success: #4FA877; /* To signify success or open eg. issues.*/
  --color-foreground-primary-fade: linear-gradient(0deg, #6B006B 0%, #FF55FF 100); /* Fades from primary to a darker shade for graph lines.*/
  --color-foreground-yellow-fade: linear-gradient(0deg, #4C4000 0%, #E5C001 100); /* Fades from primary to a darker shade for graph lines.*/
  --color-foreground-red: #AA5078; /* To signify error eg. text field hints.*/
  --color-foreground-yellow: #E5C001; 
  --color-foreground-disabled: #6A6A81; 
  --color-border-hint: #1E1F25; 
  --color-border-default: #393A46; 
  --color-border-focus: #7070FF; 
  --color-border-contrast: #EBEBFF; 
  --color-border-error: #6B2B42; 
  --color-border-merged: #6B006B; 
  --color-border-match-background: #060809; 
  --color-border-primary: #FF1AFF; 
  --color-border-primary-hover: #FF55FF; 
  --color-border-selected: #232563; 
  --color-border-warning: #4C4000; 
  --color-border-success: #2A5A40; 
  --boxShadow-lg: 0 0 64px 0 #00000099; 
  --color-fill-secondary: #7070FF; 
  --color-fill-secondary-hover: #8585FF; 
  --color-fill-secondary-shade: #5555FF; 
  --color-fill-ghost: #2E2F38; 
  --color-fill-ghost-hover: #393A46; 
  --color-fill-separator: #2E2F38; 
  --color-fill-primary: #FF1AFF; 
  --color-fill-primary-hover: #FF4DFF; 
  --color-fill-primary-shade: #E500E5; 
  --color-fill-danger-shade: #8B3E5E; 
  --color-fill-danger: #AA5078; 
  --color-fill-danger-hover: #BE7495; 
  --color-fill-danger-counter: #CE97AF; 
  --color-fill-yellow: #FFE609; 
  --color-fill-yellow-iconic: #FFFF55; 
  --color-fill-gray: #9B9BB1; 
  --color-fill-diff-red: #4D1929; 
  --color-fill-diff-red-light: #2D060D; 
  --color-fill-success-counter: #97CEB0; 
  --color-fill-success-hover: #71BC93; 
  --color-fill-success: #4FA877; 
  --color-fill-success-shade: #408760; 
  --color-fill-diff-green: #183425; 
  --color-fill-diff-green-light: #142A1D; 
  --color-fill-float: #1E1F25; 
  --color-fill-float-hover: #2E2F38; 
  --color-fill-merged: #1A001A; 
  --color-fill-selected: #16173D; 
  --color-fill-warning: #191500; 
  --color-fill-counter: #393A46; 
  --color-fill-counter-emphasized: #16173D; 
  --color-fill-delegate: #3D003D; 
  --color-fill-private: #4C4000; 
  --color-fill-secondary-counter: #9497FF; 
  --color-fill-primary-counter: #FF8FFF; 
  --color-fill-ghost-shade: #1B1C22; 
}