:root {
  --color-blue-50: #FAFAFF; 
  --color-blue-100: #EBEBFF; 
  --color-blue-200: #DBDBFF; 
  --color-blue-250: #8585FF; 
  --color-blue-300: #7070FF; 
  --color-blue-400: #5555FF; 
  --color-blue-500: #4545EF; 
  --color-blue-600: #3333DD; 
  --color-blue-700: #1D1DAF; 
  --color-blue-800: #161683; 
  --color-blue-900: #0F0F57; 
  --color-blue-950: #07072C; 
  --color-pink-50: #FFEEFF; 
  --color-pink-100: #FFE5FF; 
  --color-pink-200: #FF80FF; 
  --color-pink-300: #FF70FF; 
  --color-pink-400: #FF55FF; 
  --color-pink-500: #FF1AFF; 
  --color-pink-600: #E500E5; 
  --color-pink-700: #AD00AD; 
  --color-pink-800: #750075; 
  --color-pink-900: #3D003D; 
  --color-pink-950: #1A001A; 
  --color-black: #000000; 
  --color-white: #ffffff; 
  --color-accent-green-500: #63F272; 
  --color-accent-green-600: #0FC821; 
  --color-accent-yellow-500: #FFE609; 
  --color-accent-yellow-600: #E5C001; 
  --color-accent-red-500: #FF5151; 
  --color-accent-red-600: #ED2727; 
  --color-gray-50: #F9F9FB; 
  --color-gray-100: #F0F0F5; 
  --color-gray-200: #EAEAF1; 
  --color-gray-300: #B2B2CC; 
  --color-gray-400: #9494B8; 
  --color-gray-500: #70718F; 
  --color-gray-600: #40414F; 
  --color-gray-700: #2E2F38; 
  --color-gray-800: #24252D; 
  --color-gray-900: #14151A; 
  --color-gray-950: #0A0D10; 
}