:root {
  --colors-blue-50: #FAFAFF;
  --colors-blue-100: #EBEBFF;
  --colors-blue-200: #DBDBFF;
  --colors-blue-250: #8585FF;
  --colors-blue-300: #7070FF;
  --colors-blue-400: #5555FF;
  --colors-blue-500: #4545EF;
  --colors-blue-600: #3333DD;
  --colors-blue-700: #1D1DAF;
  --colors-blue-800: #161683;
  --colors-blue-900: #0F0F57;
  --colors-blue-950: #07072C;
  --colors-pink-50: #FFEEFF;
  --colors-pink-100: #FFE5FF;
  --colors-pink-200: #FF80FF;
  --colors-pink-300: #FF70FF;
  --colors-pink-400: #FF55FF;
  --colors-pink-500: #FF1AFF;
  --colors-pink-600: #E500E5;
  --colors-pink-700: #AD00AD;
  --colors-pink-800: #750075;
  --colors-pink-900: #3D003D;
  --colors-pink-950: #1A001A;
  --colors-black: #000000;
  --colors-white: #ffffff;
  --colors-accent-green-500: #63F272;
  --colors-accent-green-600: #0FC821;
  --colors-accent-yellow-500: #FFE609;
  --colors-accent-yellow-600: #E5C001;
  --colors-accent-red-500: #FF5151;
  --colors-accent-red-600: #ED2727;
  --colors-gray-50: #F9F9FB;
  --colors-gray-100: #F0F0F5;
  --colors-gray-200: #EAEAF1;
  --colors-gray-300: #B2B2CC;
  --colors-gray-400: #9494B8;
  --colors-gray-500: #70718F;
  --colors-gray-600: #40414F;
  --colors-gray-700: #2E2F38;
  --colors-gray-800: #24252D;
  --colors-gray-900: #14151A;
  --colors-gray-950: #0A0D10;
}