:root {
  --colors-purple-50: #F6F8FE;
  --colors-purple-100: #EBEEFE;
  --colors-purple-200: #B2B4FE;
  --colors-purple-300: #8A8AFF;
  --colors-purple-400: #5555FF;
  --colors-purple-500: #4A4BDB;
  --colors-purple-600: #3C3EAF;
  --colors-purple-700: #30348A;
  --colors-purple-800: #22245C;
  --colors-purple-900: #12142B;
  --colors-purple-950: #0A0D10;
  --colors-pink-50: #FFEEFF;
  --colors-pink-100: #FFE5FF;
  --colors-pink-200: #FFB2FF;
  --colors-pink-300: #FF8AFF;
  --colors-pink-400: #FF55FF;
  --colors-pink-500: #FF1AFF;
  --colors-pink-600: #E500E5;
  --colors-pink-700: #AD00AD;
  --colors-pink-800: #750075;
  --colors-pink-900: #3D003D;
  --colors-pink-950: #1A001A;
  --colors-black: #000000;
  --colors-white: #ffffff;
  --colors-accent-green: #55FF66;
}