:root {
  --color-background-default: #F5F5FF; 
  --color-background-float: #FAFAFF; 
  --color-background-dip: #EBEBFF; 
  --color-foreground-contrast: #14151A; 
  --color-foreground-dim: #70718F; 
  --color-foreground-emphasized: #7070FF; 
  --color-foreground-emphasized-hover: #8585FF; 
  --color-foreground-match-background: #F5F5FF; 
  --color-foreground-white: #ffffff; 
  --color-foreground-black: #000000; 
  --color-foreground-primary: #FF55FF; 
  --color-foreground-success: #4FA877; 
  --color-foreground-primary-fade: linear-gradient(0deg, #FF80FF 0%, #FF1AFF 100); 
  --color-foreground-red: #AA5078; 
  --color-foreground-yellow: #E5C001; 
  --color-foreground-gray: #9494B8; 
  --color-foreground-disabled: #B2B2CC; 
  --color-border-hint: #E5E5FF; 
  --color-border-focus: #7070FF; 
  --color-border-contrast: #24252D; 
  --color-border-default: #B8B8FF; 
  --color-border-error: #AA5078; 
  --color-border-merged: #FFE5FF; 
  --color-border-match-background: #F5F5FF; 
  --boxShadow-lg: 0 0 64px 0 #0000001a; 
  --color-fill-secondary: #7070FF; 
  --color-fill-secondary-hover: #8585FF; 
  --color-fill-ghost: #E5E5FF; 
  --color-fill-ghost-hover: #EBEBFF; 
  --color-fill-separator: #EAEAF1; 
  --color-fill-primary: #FF70FF; 
  --color-fill-success: #4FA877; 
  --color-fill-yellow: #FFE609; 
  --color-fill-danger: #BE7495; 
  --color-fill-gray: #9494B8; 
  --color-fill-primary-hover: #FF80FF; 
  --color-fill-diff-green: #BADECA; 
  --color-fill-diff-green-light: #DCEFE5; 
  --color-fill-diff-red: #EFDCE4; 
  --color-fill-diff-red-light: #F7EEF2; 
  --color-fill-float: #FAFAFF; 
  --color-fill-float-hover: #ffffff; 
  --color-fill-merged: #FFEEFF; 
  --color-fill-yellow-iconic: #FFFF55; 
}